.app {
  background-color: lightblue;
  margin: 5px;
  display: grid;
  place-items: center;
}

.maxWidthContainer {
  background-color: green;
  width: 70vw;
  max-width: 1000px;
  display: grid;
  place-items: center;
}
