/* Generic */

body {
  font-family: "Comfortaa";
  color: #2c2d52;
  text-align: justify;
}

/* Header Name */
h1 {
  font-weight: normal;
  font-size: 29px;

  margin-bottom: 0px;
}

/* Contact info below header */
h2 {
  font-weight: normal;
  font-size: 10px;
  line-height: 1px;
}

/* Navbar */
h3 {
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
}

/* Titles */
h4 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 30px;
}


.objectiveContainer{
  margin-top: 500px;
}

.objectiveText {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  
}

/* Colored text */
.color {
  background: url(./assets/swirlBackground2.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: #2c2d52;
}

.profile {
  width: 162px;
  margin-top: 128px;
  margin-bottom: 13px;
}

.app {
  /* background-color: lightblue; */
  display: grid;
  place-items: center;
}

.maxWidthContainer {
  /* background-color: lightblue; */
  max-width: 1000px;
  display: grid;
  place-items: center;
}

.socialLinkBackground {
  background-image: url(./assets/swirlBackground.jpg);
  background-position: -2px;
  height: 82px;
  width: 100vw;
  max-width: 1000px;
  margin-bottom: 200px;
  margin-top: 100px;
}

.socialLinkPaper {
  background-color: white;
  margin: 2px 0px;
  height: 78px;
  display: grid;
  place-items: center;
}

.socialLinkContainer img {
  height: 31px;
  margin: 0px 14px;
}

.portfolioBackground {
  background-image: url(./assets/portfolio.png);
  background-size: 100%;
  height: 395px;
  width: 695px;
  display: grid;
  place-items: center;
  margin-top: 700px;
  margin-bottom: 315px;
}

.portfolioContainer img {
  height: 100px;
}

.portfolioIconWhatGrows {
  position: relative;
  left: -238px;
  top: 101px;
}

.portfolioIconChungAndAssociates {
  position: relative;
  left: -18px;
  top: -2px;
}

.portfolioIconHawaiiLavaZones {
  position: relative;
  left: 193px;
  top: -105px;
}

/* Desktop */

/* Mobile */

/* Media Queries */

@media only screen and (max-width: 1000px) {
  .socialLinkBackground {
    background-color: green;
    margin-bottom: 73px;
    margin-top: 48px;
  }

  .profile {
    width: 162px;
    margin-top: 80px;
  }

  .portfolioBackground {
    height: 221px;
    width: 389px;
  }

  .portfolioContainer img {
    height: 73px;
  }

  .portfolioIconWhatGrows {
    position: relative;
    left: -132px;
    top: 71px;
  }

  .portfolioIconChungAndAssociates {
    position: relative;
    left: -11px;
    top: -5px;
  }

  .portfolioIconHawaiiLavaZones {
    position: relative;
    left: 108px;
    top: -82px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 894px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1070px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1170px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1700px) {
}
